[Desktop Entry]
Name=Message Client
Comment=Send, receive and manage your text messages
Exec=dextop-additions -n message
Terminal=false
Type=Application
Icon=message
MimeType=x-scheme-handler/sms;
Categories=Office;Network;InstantMessaging
Keywords=Message;Messages;Messaging
