[Desktop Entry]
Name=Mail Client
Comment=Send, receive and manage your mail
Exec=dextop-additions -n mail
Terminal=false
Type=Application
Icon=mail
MimeType=x-scheme-handler/mailto;
Categories=Office;Network;Email;
Keywords=Mail
