[Desktop Entry]
Name=Web Browser
Comment=Navigate the Web
Exec=dextop-additions -n browser
Terminal=false
Type=Application
Icon=browser
MimeType=x-scheme-handler/http;
Categories=Internet;Network;
Keywords=Web;Internet;Browse;Browser
